
body {
  background-color: #F8F1F3;
  text-align: center;
  color: #0B3C49;
}

h1 {
  font-weight: 900;
  color: #AB4967;
  letter-spacing: 0.13em;
  font-size: 40px;
}

h2 {
  font-style: italic;
  font-size: 30px;
}

h3 {
 font-size: 25px;
 letter-spacing: 0.1em;
}

p {
  word-spacing: 0.4em;
  letter-spacing: 0.1em;
}

.img-profile {
  border-radius: 10%;
}

ul {
  list-style: none;
  padding-left: 0px;
  font-size: 40px;
  padding: 0px 10px;
  letter-spacing: 0.35em;
}

.list-inline > li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #AB4967;
  font-weight: 900;
}

a:hover {
  color: #0B3C49;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 20px 0px;

}

.card.card-link {
  padding: 40px;
  margin: 20px 0px;
}

.container {
  width: 700px;
  margin: 40px auto;
}
